*{
    margin: 0px;
    padding: 0px;
}
header h1{
    text-align: center;
    font-size: 40px;
    color: darkgreen;
}
.front{
    padding: 25px;
    height: 110vh;
    border: 6px solid green;
    background-color: rgba(0, 0, 0, 0.71);
    color: white ;
    tab-size: 0cap;
    

}

.About1{
    float: left;

}
.About1 h2{
    margin: 26px;
    font-size: 30px;
   
}
.About1 p{
    font-size: 22px;
    line-height: 1.6;
    margin: 20px;
}
.About-img img{
    float: right;
    height: 700px;
    width: 400px;
    margin: 8px;
    border-radius: 10%;
    border: 3px solid green;
}

h3{
    margin-left: 30px;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
}
ul,li{
    margin: 20px;
    font-size: 20px;
}